html{
    box-sizing: border-box;/* esto se usa para calcular el ancho y largo de un elemento*/
    font-size: 62.5%;
}
*
*:before
*:after{
box-sizing:inherit;
/*la etiqueta spam sirve como un comodin , esta etiqueta es la que usamos para manipular las letras para poder colocar mas etiquetas a la vez tenemos que realizar la multiplicacion de las etiquetas , por ejemplo si necesitamos 3 etiquetas ponemos la etiqueta *3--*/
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;/* valores esteticos de nuestro element  */
font: 1.6rem;
line-height: 2;
}

/*globales*/
.contenedor1{
max-width: 1200px;/* el maximo que llevara el contenedpr  */
width: 95%;
margin: 0 auto;


}
h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 3.5rem;
    line-height: 1.2;
}
img{
    max-width: 100%;
}
/*uatilidades llamada central texto*/
.centrar-texto{
    text-align: center;
}
.site-header{
    background-image:url(../img/imagen1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 65rem;
}
.site-header a{
    color: #fff;
    text-decoration: none;
}
.site-header h1{
text-align: center;
font-weight: 400;
}
.site-header h1 span{
font-weight: 700;
}

@media(min-width: 768px){
    .contenedor1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navegacion a{
    text-align: center;
    display: block;
    font-size:1.8rem ;
     color:fff;
     text-decoration: none;
}
@media(min-width: 768px){
.navegacion a{
    display: inline-block;
    margin-right: 2rem;
}
}
.btn{
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin: 2rem 0;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    flex: 0,0,100;
   /*  primera forma 
   padding-top:1rem;
   padding-right: 3rem;
   padding-bottom: 1rem;
   padding-left: 3rem;
   */

}
.btn:hover{
cursor: pointer;


}
.contenidoPrincipal{
    display: flex;
    flex-wrap: wrap;
}
.blog,
.cursos{
    flex: 0,0,100%;
}
.cursos{
    order: -1;

}
@media(min-width:768px){
    .contenidoPrincipal{
        justify-content: space-between;

    }
    .blog{
     flex-basis: 66.6%;
    }
    .cursos{
        flex-basis: calc(33.3%- 4rem);
        order: 2;
    }
}
/* diferencia entre id y clase 
para seleccionar elementos con id necesiatmos seleccionarlo con el gato y con clase con punto  */